

#__________________________ BLTouch ______________________________
[bltouch]
sensor_pin: ^PROBE	# ^ = Activate pullup resistor to avoid floating input
control_pin: SERVO		# ! = Active low
x_offset: -32
y_offset: -2
z_offset: 0.8
stow_on_each_sample: False
speed: 5
samples: 5
sample_retract_dist: 2.0
samples_tolerance: 0.050
samples_tolerance_retries: 3
samples_result: median
lift_speed: 50

[homing_override]
axes: z
set_position_z: 0
gcode:
   STATUS_HOMING
   G90
   G1 Z20 F3000
   G28 X Y
   G1 X67 Y17 F18000
   G28 Z
   G1 Z20 F3000
   STATUS_READY

[bed_mesh]
speed: 300
mesh_min: 35,15
mesh_max: 490,525
probe_count: 7,7
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1.0
fade_end: 0
horizontal_move_z: 5

#__________________ SELF LEVELLING (Z_Tilt) _______________________
[z_tilt]
z_positions: 
  -26.87,-20.4
  274.339,557.81
  575.548,-20.4

points:
	35,15
	300,525
	525,15
speed: 200
horizontal_move_z: 20
retries: 3
retry_tolerance: 0.1

#retries: 0
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
